body{
    margin: 0;
}

#container{
    cursor: pointer;
}

#reload{
    cursor: pointer;
    bottom: -11px;
    left: -7px;
}

#legal{
    left: -1px;
}

#x{
    cursor: pointer;
}

#btn_div{
    width: 116px;
    height: 22px;
    top: 202px;
    left: 90px;
}

#x_div{
    top: 12px;
    left: 264px;
    width: 20px;
    height: 20px;
}

#legal_div{
    width: 118px;
    height: 13px;
    bottom: 0px;
    left: 115px;
}

#up_div{
    width: 24px;
    height: 24px;
    right: 14px;
    top: 94px;
}

#down_div{
    width: 24px;
    height: 24px;
    right: 14px;
    top: 126px;
}

#legal_text_div{
    top: 22px;
    left: 10px;
    position: absolute;
    width: 254px;
    height: 212px;
    overflow: hidden;
    pointer-events: none;
}

#legal_text_image{
    top: -0px;
    width: 250px;
    display: none;
    position: relative;
}
